<div fxLayout="column" fxLayoutGap="10px">
  <div class="list-container" fxLayout="column" fxFlex="initial" #detListContainer>

    <div fxLayout="column">
      <mat-card *ngFor="let info of infoArr" style="margin: 5px;" (click)="detailCardClick(info.id)" (mouseover)="setItemHov(info.id, true)" (mouseleave)="setItemHov(info.id, false)"
                [ngClass]="getItemClass(info.id)" [attr.id]="'detcard-'+ info.id">
        <mat-card-content>
          <div fxLayout="column">
            <span><b>Path Score:</b> {{info.pathScore | number:'0.8-8'}}</span>
            <span><b>Path Text:</b>  {{info.pathText}}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div fxLayoutAlign="center center">
    <span class="notice-text">Click on paths to highlight the path details or vice versa!</span>
  </div>
</div>
