/* You can add global styles to this file, and also import other style files */
html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 2px;
  font: 12px sans-serif;
  background: black;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.text-span {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  color: white;
}

.line-sel {
  stroke: #62a6ff;
}

.line-def {
  stroke: #6f6f6f;
}

.label {
  text-shadow: 2px 2px 4px #d09bff;
  font-family: sans-serif;
  fill: #28d0ff;

}
